{deps_dir, ["deps"]}.
{sub_dirs, ["rel","apps/hydra"]}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.0.0"}}},
    {estatsd, ".*", {git, "https://github.com/RJ/estatsd", {branch, "master"}}},
    {erlpid, ".*", {git, "https://github.com/shizzard/erlpid", {branch, "master"}}},
    {unicorn, ".*", {git, "https://github.com/shizzard/unicorn", {tag, "0.2.1"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy", {tag, "0.8.5"}}},
    {jiffy_v, ".*", {git, "https://github.com/shizzard/jiffy-v", {tag, "0.3.3"}}}
]}.
