{sys, [
    {lib_dirs, ["../deps", "../apps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "hydra", "1", [
        kernel,
        stdlib,
        inets,
        sasl,
        lager,
        erlpid,
        estatsd,
        hydra
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "hydra"},
    {profile, embedded},
    {incl_cond, exclude},
    {excl_archive_filters, [".*"]},
    {excl_sys_filters,
        ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"]
    },
    {excl_app_filters, ["\.gitignore"]},

    %% kernel etc
    {app, sasl, [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, kernel, [{incl_cond, include}]},

    %% app itself
    {app, hydra, [{incl_cond, include}]},
    {app, erlpid, [{incl_cond, include}]},

    %% estatsd
    {app, estatsd, [{incl_cond, include}]},

    %% deps
    {app, lager, [{incl_cond, include}]},
    {app, compiler, [{incl_cond, include}]},
    {app, syntax_tools, [{incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]},
    {app, goldrush, [{incl_cond, include}]},

    {app, inets, [{incl_cond, include}]},
    {app, os_mon, [{incl_cond, include}]}
]}.

{target_dir, "hydra"}.

{overlay_vars, "/etc/squadder/security.config"}.

{overlay, [
    {mkdir, "data/ring"},
    {mkdir, "log/sasl"},
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/hydra", "bin/hydra"},
    {copy, "files/hydra.cmd", "bin/hydra.cmd"},
    {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.