%% vm.args



{node_name, "eva"}.
{node_cookie, "jxzyjaxlbhtnutjxltdt"}.



%% sys.config



%% lager
{lager_console_loglevel, error}.

{lager_error_log, "/var/log/eva/error.log"}.
{lager_error_loglevel, error}.

{lager_info_log, "/var/log/eva/info.log"}.
{lager_info_loglevel, info}.

{lager_crash_log, "/var/log/eva/crash.log"}.

%% eva
{requests_per_second, 15}.
{application_id, "ajfdjsklfhadsfjajdsghaldsfad"}.