%% sys.config



%% lager
{lager_console_loglevel, debug}.

{lager_error_log, "~/code/_var/log/squaader/hydra/error.log"}.
{lager_error_loglevel, error}.

{lager_info_log, "~/code/_var/log/squaader/hydra/info.log"}.
{lager_info_loglevel, info}.

{lager_crash_log, "~/code/_var/log/squaader/hydra/crash.log"}.

%% estatsd
{estatsd_flush_interval, 10000}.
{estatsd_graphite_host, "127.0.0.1"}.
{estatsd_graphite_port, 2003}.
{estatsd_vm_metrics, true}.

%% system
{pidfile_destination, "/var/run/squadder/hydra.pid"}.

{folsomix_listen_host, "localhost"}.