%% sys.config



%% lager
{lager_console_loglevel, debug}.

{lager_error_log, "/var/log/hydra/error.log"}.
{lager_error_loglevel, error}.

{lager_info_log, "/var/log/hydra/info.log"}.
{lager_info_loglevel, info}.

{lager_crash_log, "/var/log/hydra/crash.log"}.

%% estatsd
{estatsd_flush_interval, 10000}.
{estatsd_graphite_host, "10.128.12.136"}.
{estatsd_graphite_port, 2003}.
{estatsd_vm_metrics, true}.

%% system
{pidfile_destination, "/var/run/hydra/hydra.pid"}.

{folsomix_listen_host, "localhost"}.
