[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, {{lager_console_loglevel}} },
            {lager_file_backend, [{file, "{{lager_error_log}}"}, {level, {{lager_error_loglevel}} }]},
            {lager_file_backend, [{file, "{{lager_info_log}}"}, {level, {{lager_info_loglevel}} }]}
        ]},
        {crash_log, "{{lager_crash_log}}" }
    ]},

    {hydra, [
        {requests_per_second, {{hydra_requests_per_second}} },
        {application_id, <<"{{hydra_application_id}}">>}
    ]}
].